#helpButton, #descriptionButton {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#helpButton {
    top: 10px;
    right: 10px;
}

#descriptionButton {
    bottom: 10px;
    right: 10px;
}

#helpWindow, #descriptionWindow {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1001;
}

#helpWindow {
    top: 45px;
    right: 10px;
    width: 250px;
}

#descriptionWindow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    backdrop-filter: blur(5px);
}

#helpWindow.hidden, #descriptionWindow.hidden {
    display: none;
}

#helpWindow ul, #descriptionWindow ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#helpWindow li, #descriptionWindow li {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.6);
}

#descriptionWindow h2 {
    margin-top: 0;
}
